<!DOCTYPE html>
<html>
    <head>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
    <body>
        <div>
            <h3> {{ va.name }} </h3>
            <img src="/home/gosho/Desktop/DBMS/DBMS_Project/templates/images/{{ va.name }}.jpg">
            <p> <b>Roles:</b> </p>
            {% for key, value in va.mapped_names.items() %}
                <p> {{ key }} - {{ value }} </p>
            {% endfor %}
                                
        </div>
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    </body>
</html>
